<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag "/login" do %>
  <label for="username">Desired Username: </label>
  <input type="text" name="name" id="username">
  <input type="submit" value="Login" id="login">
<% end %>
